{% extends 'home.html' %}
{% block home_content %}

<div class="calendar_container">
    {% for item in all_equipment %}
        <div class="user_container">
            <h2 class="text-white">{{item.name}} <i class="fas fa-pencil-alt float-right color-gray"></i></h2>
            {% for key, value in item.events.items() %}
                {% if value == "" %}
                    <a href={{"/new_event/" + item.id + "/" + date_full + "/" + key}}>
                        <div class="event_space">
                            <h4>Add Event</h4>
                        </div>
                    </a>
                {% else %}
                    <a href={{"/edit_event/" + value.id | string()}}>
                        <div class="event_container" style="background: {{value.color}}">
                            <div>
                                <h3>{{value.title}}</h3>
                                <p>
                                    Quantity: {{item.quantity}}
                                </p>
                                <p>
                                    {{value.timeslot}}
                                </p>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    <div class="user_container">
        <h2>Actions</h2>
        {% if not is_empty %}
            <a href={{"/get_calendar/" + date_next }}>
                <div class="action_space border-green">
                    <h4>Next Day</h4>
                </div>
            </a>
            <a href={{"/get_calendar/" + date_prev }}>
                <div class="action_space border-green">
                    <h4>Previous Day</h4>
                </div>
            </a>
        {% endif %}
        <a href="/new_equipment">
            <div class="action_space border-blue">
                <h4>New equipment</h4>
            </div>
        </a>
    </div>
</div>

{% endblock home_content %}
