{% extends 'base.html' %}
{% block content %}


<main class="row">
    <div class="col-12 col-md-8">
        <h1>New Event</h1>
    </div>

    <form class="col-12 col-md-6"  method='POST'>
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form.title.label }} <br />
                {{ form.title(class_="d-block") }}
            </div>
            <div class="col-12 col-md-6">
                {{ form.equipment.label }} <br />
                {{ form.equipment(class_="d-block") }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form.date.label }} <br />
                {{ form.date(class_="d-block", min="{{ min_date.strftime('%Y-%m-%d') }}", max="{{ max_date.strftime('%Y-%m-%d') }}", placeholder="YYYY-mm-dd", default="{{ form.date.default }}") }}
            </div>
            <div class="col-12 col-md-6">
                {{ form.timeslot.label }} <br />
                {{ form.timeslot(class_="d-block") }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form.color.label }} <br />
                {{ form.color(class_="d-block") }}
            </div>
        </div>
        {{ form.submit(class_="button button-availability btn-block") }}
    </form>
</main>

{% endblock content %}
